body{
    background-color: aquamarine;
    color: black;
    font-family: 'Kalam',cursive;
    border: 2px double black;
    border-width: 8px;
    margin: 5px;
    padding: 10px;
}
.top{
    font-size: 30px;
    height: 150px;
    width: 100%;
    border: 2px solid black;
    background-color:aqua;
    border-radius: 200px;
}
.page{
    display: flex;
}
.left{
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 30px;
    }
    .lefts{
        margin-left: 10px;
        box-shadow: 10px 20px 30px;
        
    }
    .bgimg{
        width: 500px;
        height: 571px;
        margin: 2px;
        position: relative;
        background-image: url(../images/koki3.png);
        background-repeat: no-repeat;
        object-fit: cover;
    }
   .txt{
        font-size: 30px;
        margin: 10px;
        padding: 5px;
    }
    .skill{
        width:500px;
        background-color: gray;
        border-radius: 20px;
        height: 20px;
        margin-left: 30px;
        text-align: center;
        box-shadow: 10px 20px 30px;
    }
    .lang{
        border-radius: 20px;
        background-color: black;
        color: aqua;
        height: 20px;
        margin-right: 30px;
    }
    .edu{
        width: 500px;
        font-size: 25px;
        padding: 30px;
        box-shadow: 10px 20px 30px;
    }
}
.right{
    width: 650px;
    margin-left:220px;
    .obj{
        box-shadow: 10px 20px 30px;
        font-size: 30px;
        margin: 10px;
        padding: 15px;
        display: flex;
        h1{
            font-size: 30px;
        }
    }
    .extra{
        box-shadow: 10px 20px 30px;
        font-size: 30px;
        display: flex;
        margin: 10px;
        padding: 15px;
    }
    h2{
        font-size: 30px;
    }
    .pers{
        box-shadow: 10px 20px 30px;
        font-size: 30px;
        display: flex;
        margin: 10px;
        padding: 15px;
        pre{
            margin-left: -107px;
            text-align: left;
            font-family: 'Kalam',cursive;
        }
    }
    h3{
        font-size: 30px;
    }
    .mini{
        box-shadow: 10px 20px 30px;
        font-size: 30px;
        display: flex;
        margin: 10px;
        padding: 15px;
        text-align: justify;
    }
    h4{
        font-size: 30px;
    }
    h5{
        font-size: 30px;
    }
}
.bottom{
    font-size: 30px;
    height: 100px;
    width: 97%;
    box-shadow: 10px 20px 30px;
    margin: 10px;
    padding: 15px;
}
.last{

   .placedate{
    display: flex;
    font-size: 30px;
    margin: 10px;
    padding: 15px;
    height: 100px;
    width: 40%;
    box-shadow: 10px 20px 30px;
    }
    .signature{
    display: fixedflex;
    font-size: 30px;
    padding: 15px;
    height: 100px;
    width: 40%;
    box-shadow: 10px 20px 30px;
    margin-left: 800px;
    margin-top: -10%;
    }/*
   .signature{
    margin-left: 100px;
    height: 100px;
    width: 40%;
    font-size: 30px;
    display: flex;
    margin-top: -10%;
    padding: 10px;
    box-shadow: 10px 20px 30px ;
    margin-left: 800px;
    }
}
.bottom:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.mini:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.lefts:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.skill:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.edu:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.obj:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.extra:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.pers:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.signature:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }
.placedate:hover{
            margin: 10px;
            padding: 5px;
            border: 7px solid aqua;
            color: black;
        }*/



